<%= provide :title, 'احنا مين' %>
<div class="static-background"></div>
<div id="about-us">
  <h1>إحنا مين؟</h1>
  <p>تملي معاك هو موقع تواصل اجتماعي عمله محمد جمال في ألفين و ستاشر ..
    أنا لسا مش عارف كل التفاصيل حاليا بس ان شاء الله ربنا هيكرم يعني </p>
</div>