<div class="static-background"></div>
<div id="welcome" class="center">
<h1>أهلا أهلا بالفرسان</h1>
<h5>متزغرطوش غير لما تنبسطو</h5>
<h1 id="join"><%= link_to '!إنضم إلينا ' , signup_path %></h1>
</div>